@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');


@font-face {
    font-family: "Press Start 2P", cursive;
    src: url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');
}


:root {
    --color: #fc600f
}
@font-face {
     font-family: "Press Start 2P", cursive;
     src: url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');
 }

body {
    display:flex;
    flex-flow: column nowrap;
    height:100vh;
    font-family: "Press Start 2P", cursive;
    align-items:center;
    background: #8bac0f
}

  
.container {
    display: flex;
    outline:solid 2px;
    width:600px;
    height:600px;
    flex-direction:row;
    flex-wrap:wrap;
    flex:auto 0 1;
    
}

#box {

    padding:0;
    margin:0;
    display:flex;
}

.controls {
    margin-bottom: 20px;
    display:flex;
    justify-content: center;
    align-items:center;
    gap: 10px;
    background-color: #bfd866;
    padding:10px;
    border-radius:10px;
}

#modal {
    background-color: white;
    padding:50px;
    border-radius: 20px;
}

h1 {
    background-color: #bfd866;
    padding-left: 20%;
    padding-right: 20%;
    padding:10px;
    border-radius: 20px;
    display:flex;
    justify-content:center;
    font-size:40px;
}

label[for="color"] {
    font-size: 15px;
    font-family:"Press Start 2P"
}

label[for="grid-size"] {
    font-size: 15px;
}

label[for="reset"] {
    font-size: 15px;
}

footer {
    display: flex;
    justify-self: flex-end;
    justify-content: center;
    height:20%;
    width:100%;
    margin:50px;
    
}