:root {
    --color: #fc600f
}

body {
    display:flex;
    flex-flow: column nowrap;
    height:100vh;
    flex:1;
    
}

  
.container {
    display: flex;
    outline:solid 2px;
    width:600px;
    height:600px;
    flex-direction:row;
    flex-wrap:wrap;
    flex:auto 0 1;
    align-self:center;
}

#box {

    padding:0;
    margin:0;
    display:flex;
}