:root {
    --color: #fc600f
}

body {
    display:flex;
    flex-flow: column nowrap;
    height:100vh;
 
    align-items:center;
    background: rgb(119, 243, 243)
}

  
.container {
    display: flex;
    outline:solid 2px;
    width:600px;
    height:600px;
    flex-direction:row;
    flex-wrap:wrap;
    flex:auto 0 1;
    
}

#box {

    padding:0;
    margin:0;
    display:flex;
}

.controls {
    margin-bottom: 20px;
    display:flex;
    justify-content: center;
    align-items:center;
    gap: 20px
}

#modal {
    background-color: white;
    padding:50px;
    border-radius: 20px;
}

h1 {
    background-color: rgb(211, 85, 85);
    padding-left: 20%;
    padding-right: 20%;
    border-radius: 20px;
    
}

label[for="color"] {
    font-size: 20px;
}

label[for="grid-size"] {
    font-size: 20px;
}

label[for="reset"] {
    font-size: 20px;
}

footer {
    display: flex;
    justify-self: flex-end;
    justify-content: center;
    height:20%;
    width:100%;
    margin:50px;
}